<?xml version="1.0" encoding="UTF-8"?>
<odoo>

        <!-- Todo: tweak relations menuitem sequence. Add between concats and config -->

        <menuitem
            id="menu_res_partner_relation_sales"
            sequence="2"
            parent="contacts.menu_contacts"
            action="action_res_partner_relation_all"
        />

        <act_window
            id="action_res_partner_relation_type"
            res_model="res.partner.relation.type"
            view_mode="tree,form"
            name="Partner Relations Types"
        />

        <menuitem
            id="menu_res_partner_relation_type"
            sequence="4"
            parent="contacts.res_partner_menu_config"
            action="action_res_partner_relation_type"
        />

</odoo>
